In [ ]:
#Importing the libraries

import numpy as np
import pandas as pd

# Setting conversion rates and the number of samples
conversionRates = [0.15,0.04,0.13, 0.11, 0.05]      # specify the values your dataset may contain
N = 10000                                           # specify the number of Rows
d = 2 #len(conversionRates)                         # specify the number of Columns

# Creating the dataset

X = np.zeros((N, d))
for i in range (N):
  for j in range(d):
    if np.random.randn() < conversionRates[j]:
     X[i][j] = 1


print(X)                                            # check your dataset
df = pd.DataFrame(X, columns= ['Value 1', 'Value 2'])   # update labels of your dataset, must be same as number of columns specified above
print(df)                                           # check your dataframe 

df.to_csv(r'C:\Users\gift\Desktop\PYTHON\Extract.csv', index = False, header = True) # provide proper path where you want to save your excel file

[[1. 1.]
 [0. 0.]
 [1. 1.]
 ...
 [0. 0.]
 [0. 0.]
 [0. 0.]]
      Value 1  Value 2
0         1.0      1.0
1         0.0      0.0
2         1.0      1.0
3         1.0      0.0
4         1.0      0.0
...       ...      ...
9995      0.0      1.0
9996      0.0      1.0
9997      0.0      0.0
9998      0.0      0.0
9999      0.0      0.0

[10000 rows x 2 columns]